:root {
    --bgcolor: #242424;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
    background-color:var(--bgcolor);
    color: white;
    box-sizing: border-box;
}

#formula {
    text-align: center;
    justify-content: center;
}

input {
    background-color: #353535;
    color: white;
    border: 4px solid blueviolet;
    margin: 5px 5px 5px 5px;
}

#text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    width: 350px;
    height: 250px;
    line-break: auto;
    border: 4px solid blueviolet;
    background-color: #353535;
    color: white;
    margin: 5px 5px 5px 5px;
}
input[type=email] {
    width: 200px;
}
input[type=submit]:hover {
    background-color: blue;
}

header{
    margin-top:-10px;
    padding: 15px;
    text-align: center;
    background-color: #353535;
    font-size: 20px;
}

#back{
    background-color: #353535;
    border: 5px solid blueviolet;
    width: 100px;
    margin: 20px;
    padding: 15px;
}

#back:hover{
    background-color: blueviolet;
    border: 5px solid #45095b;
}

#sprzet{
    justify-content: center;
    text-align: center;
    display: flex;
    min-height: 200px;
}

.block{
    width: 200px;
    border: 5px solid blueviolet;
    padding: 25px;
    margin: auto;
}
a{
    color: white;
    text-decoration: none;
    max-width: 100px;
}

footer {
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}