:root {
    --bgcolor: #242424;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
    display: grid;
    background-color:var(--bgcolor);
    color: white;
    box-sizing: border-box;
}

a{
    color: white;
    text-decoration: none;
}

#header {
    margin-top:-20px;
    text-align: center;
    background-color: #353535;
    font-size: 20px;
}

#side-panel{
    height: 100%;
    width: 10%;
    float: left;
}

#sprzet{

}

.block{
    background-color: black;
    margin: 5px;
    padding: 15px;
    width: 100%;
    border: 3px solid blueviolet;
}

.block:hover{
    background-color: blueviolet;
    border: 3px solid black;
    padding: 20px;
}

footer {
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

#nevergonna{
    text-align: center;
    width: 100px;
    float: right;
    background-color: red;
}